<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Gem ID</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gem ID</string>
	<key>NSCalendarsUsageDescription</key>
    <string>Manage appointments and schedule reminders.</string>

    <key>NSContactsUsageDescription</key>
    <string>Share content and import contacts.</string>

    <key>NSSiriUsageDescription</key>
    <string>This app requires access to Siri for enhanced user interaction and voice command functionalities.</string>

    <key>aps-environment</key>
    <string>development</string>

    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Connect to external devices for enhanced features.</string>

    <key>NSAppleMusicUsageDescription</key>
    <string>Create playlists and recommend music.</string>

    <key>NSMotionUsageDescription</key>
    <string>Enhance fitness tracking and activity recognition.</string>

    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Enable hands-free control and voice commands.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Provide real-time navigation and location services continuously.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Offer location-based services when app is active.</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Maintain continuous connection with smart devices.</string>

    <key>aps-environment</key>
    <string>production</string> <!-- Use "development" for development builds -->

	<key>UISupportedInterfaceOrientations</key>
	<array>
    	<string>UIInterfaceOrientationPortrait</string>
	</array>

	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>This app requires access to the microphone to record audio for voice commands.</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
    <key>NSCameraUsageDescription</key>
    <string>App needs access to camera to pick rock images</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>NSPhotoLibraryUsageDescription</key>
     <string>App needs access to photo library to pick images.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs access to write photo library to be able to share images.</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
